body {
    padding: 2rem 0rem;
  }
  
  .card-img {
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
  }
  
  .card-title {
    margin-bottom: 0.3rem;
  }
  
  .cat {
    display: inline-block;
    margin-bottom: 1rem;
  }
  
  .fa-users {
    margin-left: 1rem;
  }
  
  .card-footer {
    font-size: 0.8rem;
  }

  .btn-toolbar { 
    justify-content: flex-end !important;
         .btn-primary {
            font-size: 20px !important;
        }
    
}