<div class="container login-container">
  <div class="row">
      <div class="col-md-3"></div>
    <div class="col-md-6 login-form-1">
      <h3>Login </h3>
      <form [formGroup]="loginForm" >
        <div class="form-group">
          <input
            type="text"
            class="form-control"
            placeholder="Your Email *"
            value=""
            formControlName="username"
          />
        </div>
        <div class="form-group">
          <input
            type="password"
            class="form-control"
            placeholder="Your Password *"
            value=""
            formControlName="password"
          />
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-primary" (click)="submit()" [disabled]="!loginForm.valid" >Login</button>

        </div>
        <div class="form-group">
          <a (click)="forgetPwd()" class="ForgetPwd">Forget Password?</a>
        </div>
      </form>
    </div> 
    <div class="col-md-3"></div>

  </div>
</div>
